- var bodyClass = "slides";
extends ../layout

block title
   | #{event.name} - preetup

block body
   body.slides
      h1= event.name
         - var time = new Date(event.time);
         - var ampm = time.getHours() > 11 ? "pm" : "am";
         - var mins = time.getMinutes() < 10 ? "0" + time.getMinutes() : time.getMinutes();
         - var hours = time.getHours() % 12;
         p #{event.group.name} at #{event.venue.name}

      ul: each rsvp in rsvps
         li.rsvp
            h2
               .img: img(src=rsvp.member_photo.highres_link)
               | #{rsvp.member.name}


            dl: each answer, index in rsvp.answers
               dt.question= event.survey_questions[index].question
               dd.answer= answer || "(no response)"