extends ../layout

block title
   | #{event.name} &bull; Preetup

block body
   h1= event.name
      p #{event.group.name + " "}
         if event.venue
            | <span class="separator">at</span> #{event.venue.name}

   ul: each rsvp in rsvps
      - var profile = profiles[rsvp.member.member_id];
      li.slide
         .side
            if rsvp.member_photo
               img(src=rsvp.member_photo.photo_link)
            else
               .img-placeholder :(

            if rsvp.member.other_services && rsvp.member.other_services.twitter
               - var handle = rsvp.member.other_services.twitter.identifier;
               .tweet(data-twitter-handle=handle)
                  h3= handle + ":"
                  p.message Loading&hellip;

         .text
            h2
               if rsvp.member.other_services
                  each handle, service in rsvp.member.other_services
                     .icon(class=service)
               | #{rsvp.member.name + " "}

            p.comments
               | #{rsvp.comments ? rsvp.comments + " &bull; " : ""}
               | #{profile ? profile.bio : ""}

            if profile && profile.answers
               dl: each response in profile.answers
                  if response.answer
                     dt.question= response.question
                     dd.answer= response.answer

            if rsvp.answers
               dl: each answer, index in rsvp.answers
                  if answer
                     dt.question= event.survey_questions[index].question
                     dd.answer= answer

         .clear